#root {
    text-align: center;
    margin:0px;
    height: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    overflow: auto;
    
    
}

* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body{
    
    background-image: url('src/assets/wallpaper.jpg');
    background-repeat:repeat;
}