

@mixin card-basic{
    justify-content: center;
    align-items: center;
    height:275px;
    width: 175px;
    margin:0px;
    background-color: white;
    color: rgb(35, 35, 35);
    margin-bottom: 5px;
    border-radius: 15px;
    &> .pokelogo {
        height: 25px;
    }
    &> .pokeimg {
        height: 150px;
    }
}

@mixin basic-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height:80%;
    width: 325px;
    margin:0px;
    

}