$light-blue: #8ecae6;
$blue: #1d8098;
$dark-blue: #023047;
$light-orange: #ffb703;
$orange: #fb8500;


$normal-color: #A0A2A0;
$fire-color: #FF9741;
$water-color: #3393DD;
$grass-color: #63BB5B;
$electric-color: #FBD200;
$ice-color: #4BD2C1;
$fighting-color: #E12C6A;
$poison-color: #B667CF;
$ground-color: #E97333;
$flying-color: #92AADE;
$psychic-color: #FF6676;
$bug-color: #90C12C;
$rock-color: #C9B787;
$ghost-color: #5269AC;
$dark-color: #5B5366;
$dragon-color: #096DC4;
$steel-color: #5A8FA3;
$fairy-color: #FB8AEC;